body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
background-color: rgb(255, 198, 223);
color:#760047;
text-align: center;
min-height: 150px;
align-items: center;
display: flex;
justify-content: center;
}

.footer{
  background-color: #760047;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.messagesBoxArea{
height: 400px;
background-color: #ffffff;
justify-content: center;
display: flex;
}

.messageListBox{
  width: 75%;
  margin: 30px 0 0 0;
  border: 2px solid #ddd;
  background-color: rgb(248, 248, 248);
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.messageListBox > div{
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.messageInputBox{
  width: 75%;
  background-color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 50px auto 50px auto;

}


.messageInput{
  width: 90%;
  padding: 10px;

}


.sendMessageBtn{
  padding: 10px;
  width:130px;
  margin-left: 20px;
  background-color: #760047;
  color: white;
  border-radius: 10px;
}







.headerGifs{
  width: 150px;
}