.messageItem.right {
    margin-right: 0;
    margin-left: auto;
    background-color: #ff4196;
    color: white;
}


.messageItem{
    background-color: #242424;
    color: white;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    width: fit-content;
    padding: 15px;
    display: inline-block;
    margin-right: auto;
  }
  

